@using App_LocalResources
@model FileStorage.PL.WEB.Models.TableViewModel<FileStorage.BLL.DTO.UserDTO>
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSize)
        </td>
        <td>
            <a href="/Admin/EditUser/?userId=@item.Id" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span ><strong></strong></span>            
            </a>
        </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a href="/Admin/AddRole/?userId=@item.Id" class="btn btn-primary a-btn-slide-text">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span ><strong></strong></span>            
                    </a>
                </td>
                <td>
                    <a href="/ManageUserProfile/_Delete/@item.Id" class="btn btn-danger a-btn-slide-text viewDialog" data_dialog_title="@Resource.Delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span ><strong></strong></span>            
                    </a>
                </td>
            }
    </tr>
}
