@model FileStorage.BLL.DTO.RolesDTO

@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RolesDTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <table name="data">
        @Html.Partial("_RolesList")
        </table>

        @Html.DropDownList("RoleName", 
            new SelectList(ViewBag.Roles),
            new { @class = "form-control" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("До списку", "ShowUsers")
</div>
