@using App_LocalResources
@model FileStorage.BLL.DTO.RolesDTO

@{
    ViewBag.Title = Resource.AddRole;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>@Resource.ChangeRoles</h2>


@Resource.UserRoles
<br />
<table>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td width="10">&bull;</td>
            <td width="80">@role</td>
            <td width="80">
                @using (Html.BeginForm("DeleteRole", "Admin", FormMethod.Post))
                {
                    <input style="display: none" type="text" name="userId" value="@Model.Id" />
                    <input style="display: none" type="text" name="role" value="@role" />
                    <input class="btn btn-danger" type="submit" value="X" />
                }
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("AddRole", "Admin"))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownList("RoleName",
                    new SelectList(ViewBag.Roles),
                    new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-success" type="submit" value="@Resource.Save" />
            </div>
        </div>
    </div>
}
<br />
<div>
    <a href="/Admin/ShowUsers" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span><strong>@Resource.BackToList</strong></span>
    </a>
</div>
