@model FileStorage.BLL.DTO.RolesDTO

@{
    ViewBag.Title = "AddRole";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>AddRole</h2>


Ролі користувача:
<br />
<table>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td>&bull;</td>
            <td>@role</td>
            <td>
                @using (Html.BeginForm("DeleteRole", "Admin", FormMethod.Post))
                {
                    <input style="display: none" type="text" name="userId" value="@Model.Id" />
                    <input style="display: none" type="text" name="role" value="@role" />
                    <input type="submit" value="X" />
                }
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("AddRole", "Admin"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RolesDTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.DropDownList("RoleName",
            new SelectList(ViewBag.Roles),
            new { @class = "form-control" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("До списку", "ShowUsers")
</div>
