@model IEnumerable<FileStorage.BLL.DTO.UserDTO>

@{
    ViewBag.Title = "ShowUsers";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/Content/Table.css" rel="stylesheet">
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    @Html.Partial("_Search")
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                @Html.Partial("_TableHead", @Model)
            </thead>
            <tbody id="data">
                @Html.Partial("_TableBody", @Model)
            </tbody>
        </table>
    </div>
</div>
