@using App_LocalResources
@model FileStorage.BLL.DTO.FileInfoDTO

@{
    ViewBag.Title = Resource.Delete;
}
<h3>@Resource.DeleteFileMes</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl> 

    @using (Html.BeginForm("Delete", "File", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="@Resource.Delete" class="btn btn-primary center-block"/> 
        </div>
    }
</div>
