@model IEnumerable<FileStorage.BLL.DTO.FileInfoDTO>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPrivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownloadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "_Edit", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "Редагування" }) |
            @Html.ActionLink("Download", "_Download", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "Коротка ссилка" }) |
            @Html.ActionLink("Delete", "_Delete", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "Видалення" })
        </td>
    </tr>
}
