@model FileStorage.PL.WEB.Models.TableViewModel<FileStorage.BLL.DTO.FileInfoDTO>
@using System.Collections.Generic;
@using App_LocalResources
@{
    ViewBag.Title = Resource.Files;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/Content/Table.css" rel="stylesheet">

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    @Html.Partial("_Search")
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/File/Create'"><i class="fa fa-plus"></i>@Resource.NewFile</button>
                </div>
            </div>
        </div>
        <div id="tabl">
            @Html.Partial("_Table", Model)
        </div>

    </div>
</div>