@using App_LocalResources
@model FileStorage.PL.WEB.Models.TableViewModel<FileStorage.BLL.DTO.FileInfoDTO>

@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownloadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            <a href="/File/_Download/@item.Id" class="btn btn-primary a-btn-slide-text viewDialog" data_dialog_title="@Resource.Download">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                <span ><strong></strong></span>            
            </a>
        </td>
            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
        <td>
            <a href="/File/_Delete/@item.Id" class="btn btn-danger a-btn-slide-text viewDialog" data_dialog_title="@Resource.Delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span><strong></strong></span>
            </a>
        </td>
            }
    </tr>
}
